.icon {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.icon-calendar {
    width: 40px;
    height: 38px;
    background-position: -5px -5px;
}

.icon-calendar-black {
    width: 40px;
    height: 38px;
    background-position: -55px -5px;
}

.icon-chair {
    width: 36px;
    height: 40px;
    background-position: -105px -5px;
}

.icon-chair-black {
    width: 36px;
    height: 40px;
    background-position: -5px -55px;
}

.icon-clock {
    width: 35px;
    height: 40px;
    background-position: -51px -55px;
}

.icon-clock-black {
    width: 35px;
    height: 40px;
    background-position: -96px -55px;
}

.icon-dashboard {
    width: 25px;
    height: 32px;
    background-position: -141px -55px;
}

.icon-lightbulb {
    width: 39px;
    height: 40px;
    background-position: -5px -105px;
}

.icon-lightbulb-black {
    width: 39px;
    height: 40px;
    background-position: -54px -105px;
}

.icon-man {
    width: 26px;
    height: 40px;
    background-position: -141px -97px;
}

.icon-man-black {
    width: 26px;
    height: 40px;
    background-position: -151px -5px;
}

.icon-people {
    width: 32px;
    height: 26px;
    background-position: -176px -55px;
}

.icon-talk {
    width: 40px;
    height: 36px;
    background-position: -103px -147px;
}

.icon-talk-black {
    width: 40px;
    height: 36px;
    background-position: -153px -147px;
}

.icon-tie {
    width: 17px;
    height: 32px;
    background-position: -187px -5px;
}
